* {
  font-family: Arial;
  background-color: #212121;
  color: whitesmoke;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 60%;
  padding-left: 20%;
  padding-top: 40px;
}

.skills-grid{
  display: flex;
}

.skills-grid span{
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.skills-grid span:hover {
  background-color: blue;
}

.skills-grid img{
  height: 50px;
  width: 50px;
} 
