* {
  font-family: Arial;
  background-color: #212121;
  color: whitesmoke;
}

body {
  width: 80%;
}

.skills-grid span{
  display: flex;
  align-content: center;
  align-items: center;
}
.skills-grid img{
  height: 50px;
  width: 50px;
} 
